/* @tailwind base;
@tailwind component;
@tailwind utilities; */


:root {

   --primary-color: #07847f;
   --secondary-color: #fd6b36;
   --text-color: #00172e;
   --background-color: #f5f6fa;
   --error: #ff4040;
   --disabled: #c3c5cc;
   --hover-color: #ddd;
}

body {
   background: var(--background-color);
   font-family: 'Nunito Sans', sans-serif;
   overflow-x: hidden;
}

html,
body {
   min-width: 100vw;
   width: 100vw;

   min-height: 100vh;
   height: 100vh;
}

main {
   width: 100vw;
   min-width: 100vw;
}

* {
   margin: 0;
   padding: 0;
}

a {
   color: var(--text-color);
   text-decoration: none;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   background: var(--disabled);
   border-radius: 10px;
}

s::-webkit-scrollbar-thumb:hover {
   background: var(--text-color);
}